.App {
  background-color: #f6f9fc;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h1 {
  text-align: center;
  margin: 0;
}

.category {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
